{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body class="bg-dark" style="background-image: url('{% static 'images/diseño1.png' %}'); background-repeat: no-repeat; background-size: cover;">
        <div class="row">
            <div class="container mt-5">
           
                <div class="col-lg-10 mx-auto">
                    <a href="/home" class="btn p-2 btn-danger w-10" style="text-align: center;">
                        <text class="fs-5">Cancelar <i class="bi bi-plus-square"></i></text>
                      </a>
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h1 style="text-align: center;">Actualizar pedido</h1>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'actualizar_pedido' ped.idpedido %}" method="POST">
                                <table style="text-align: center;" class="table table-hover">
                                    {% csrf_token %}
                                    {{form.as_table}}
                                    <p></p>
                                    <tr>
                                        <td colspan="2">
                                            <center><button class="btn btn-success">Actualizar pedido</button></center>
                                        </td>
                                    </tr>
                                    </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
   
    
            
        

</html>

